*{
    padding: 0;
    margin: 0;
    text-decoration: none ;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

nav{
    background: #6624A0;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 19px;
    font-style: normal;
    font: bolder;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover{
    background: #1b9bff;
    transition: .5s;
}
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
    height: calc(80vh - 80px);

.banner-card{
    position: relative;
}

.banner-card img{
    background-size: cover;
    max-width: 100% ;
    height: min-content;
}

.banner-text{
    position: absolute;
    top: 35%;
    color: #fff;
    padding: 20px;
    margin-left: 22%;
}
.banner-text h4{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 5px;
}